[Desktop Entry]
Name=Pivoine
GenericName=CU Data Generator
Comment=Collective Unconscious data generator
Exec=pivoine %U
Icon=com.github.lumiscosity.Pivoine
Terminal=false
Type=Application
StartupNotify=true
Categories=Development;Utility;
