on:
  push:
  pull_request:

name: Build

jobs:
  windows:
    name: 'Windows'
    runs-on: windows-latest
    steps:
    - name: Install Qt 6
      uses: jurplel/install-qt-action@v4
      with:
        version: '6.8.1'
        host: windows

    - uses: lukka/get-cmake@latest

    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Setup vcpkg
      uses: lukka/run-vcpkg@v11
      id: runvcpkg
      with:
        # This specifies the location of vcpkg, where it is going to be restored from cache, or create from scratch.
        vcpkgDirectory: '${{ runner.workspace }}/b/vcpkg'
        # The Git commit id of vcpkg to be checked out. This is only needed because we are not using a submodule.
        vcpkgGitCommitId: '80d54ff62d528339c626a6fbc3489a7f25956ade'
        # The vcpkg.json file, which will be part of cache key computation.
        vcpkgJsonGlob: '**vcpkg.json'

    - name: Run CMake consuming CMakePreset.json and run vcpkg to build packages
      uses: lukka/run-cmake@v10
      with:
        configurePreset: 'ninja-multi-vcpkg'
        configurePresetAdditionalArgs: "['-DCMAKE_BUILD_TYPE=Release', '-DVCPKG_TARGET_TRIPLET=x64-windows-static']"
        buildPreset: 'ninja-multi-vcpkg'
        buildPresetAdditionalArgs: "['--config Release']"

    - name: Push build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: pivoine-windows-x86_64
        path: |
          C:/a/pivoine/pivoine/builds/ninja-multi-vcpkg

  flatpak:
    name: 'Linux/Flatpak'
    runs-on: ubuntu-latest
    container:
      image: bilelmoussaoui/flatpak-github-actions:kde-6.7
      options: --privileged
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - uses: flatpak/flatpak-github-actions/flatpak-builder@v6
      with:
        bundle: pivoine-linux.flatpak
        manifest-path: linux/com.github.lumiscosity.Pivoine.yml
        cache-key: flatpak-builder-${{ github.sha }}
